<footer id="footer">
  <div class="container">
      <div class="row info">
          <div class="span6 residence">
              <ul>
                  <li>Developed by David Sáenz Tagarro</li>
                  <li>
                    <strong>email:&nbsp;&nbsp;&nbsp;</strong>
                    david.saenz.tagarro@gmail.com
                  </li>
                  <li>
                    <strong>twitter:&nbsp;&nbsp;&nbsp;</strong>
                    @dsaenztagarro
                  </li>
              </ul>
          </div>
      </div>
      <div class="row credits">
          <div class="span12">
              <div class="row copyright">
                  <div class="span12">
                      © 2014 Unidad Especializada Cirujanos Torácicos
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>
