{% load staticfiles %}
{% load i18n %}

<div class="row media-box block" id="article_{{ article.id }}">
  <div class="box">
    <img src="{% static 'img/media/article_64x64.png' %}" />
  </div>
  <div class="text">
    <h6>
      {% if order %}<strong>{{ order }}.</strong>{% endif %}
      <span>{{ article.title }}</span>
    </h6>
    <p>{{ article.author }}</p>
    <p>{{ article.description }}</p>
    <a class="btn btn-primary" target="_blank"
      href="{% url 'media:browser' article.file.name %}"
      >{% trans "watch online" %}</a>
  </div>
</div>
